@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos.css";
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "~boxicons/css/boxicons.min.css";
@import "~remixicon/fonts/remixicon.css";
@import "~swiper/css/bundle";

@import "variables";

@import "general";
@import "header";
@import "nav";
@import "hero";
@import "sections";
@import "footer";

//////////////////////////////PROFILE PICTURE//////////////////////////////
@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
$fontColor: rgb(250, 250, 250);

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    @include object-center;
    position: relative;
    transition: all 0.3s ease;

    input {
        display: none;
    }

    img {
        position: absolute;
        object-fit: cover;
        width: $circleSize;
        height: $circleSize;
        box-shadow: $shadow;
        border-radius: $radius;
        z-index: 0;
    }

    .-label {
        cursor: pointer;
        height: $circleSize;
        width: $circleSize;
    }

    &:hover {
        .-label {
            @include object-center;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10000;
            color: $fontColor;
            transition: background-color 0.2s ease-in-out;
            border-radius: $radius;
            margin-bottom: 0;
        }
    }

    span {
        display: inline-flex;
        padding: 0.2em;
        height: 2em;
    }
}

.qr {
    color: transparent;
    transition: all 0.3s ease;
    @include object-center;
    position: relative;
    transition: all 0.3s ease;

    input {
        display: none;
    }

    img {
        position: absolute;
        object-fit: cover;
        width: $circleSize;
        height: $circleSize;
        box-shadow: $shadow;
        z-index: 0;
    }

    .-label {
        cursor: pointer;
        height: $circleSize;
        width: $circleSize;
    }

    &:hover {
        .-label {
            @include object-center;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10000;
            color: $fontColor;
            transition: background-color 0.2s ease-in-out;
            margin-bottom: 0;
        }
    }

    span {
        display: inline-flex;
        padding: 0.2em;
        height: 2em;
    }
}
///////////////////////////////////////////////////////////////////////////

.accept-button {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    //display: flex;
    //align-items: center;
    //text-align: center;
    width: 20vh;
    height: 8vh;
    background-color: #00830f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #276700;
}

//////////////////////////////IMAGE POPUP//////////////////////////////
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*Custom css*/

#SearchAlatTulis {
    border-radius: 50px;
    border: grey 2px;
}

.round-50 {
    border-radius: 50px;
}

.px-14 {
    padding-right: 14px;
    padding-left: 14px;
}

.Mohonbtn {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 70px; /* Adjust the distance from the right as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Mohonbtn:hover {
    background-color: #37517e;
}

.pagination a.page-link:hover,
.pagination a.page-link:focus {
    color: #ff0000 !important; /* Change this color to the desired hover color */
}

.sectioncards {
    padding: 120px 0;
    display: flex;
    align-items: center;
    background-color: #3a638fd7;
}
.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdowncart {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdowncart:hover .dropdown-content {
    display: block;
}

.dropdowncart:hover .dropbtn {
    background-color: #3e8e41;
}

/*cart*/
.cartbtn {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 180px; /* Adjust the distance from the right as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.cart-box {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 180px;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.cart-box a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.cart-box a:hover {
    background-color: #ddd;
}

.delete-icon {
    margin-left: 10px;
    cursor: pointer;
    color: red; /* Change to the desired color */
}

.delete-icon i {
    font-size: 16px; /* Adjust the size as needed */
}

//   .cartbtn:hover + .cart-box,
//   .cart-box:hover {
//     display: block;
//   }

.cartbtn:hover {
    background-color: #3e8e41;
}

/*This is for stationaries history page*/
.team {
    padding-top: 70px;
}

.stathist-dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
}

.dropdown-stathist {
    position: relative;
    display: inline-block;
}

.dropdown-content-stathist {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px 10px;
}

.dropdown-content-stathist label {
    color: black;
    padding: 8px 2px;
    display: block;
}
.dropdown-content-stathist a:hover {
    background-color: #ddd;
}

.stathist-dropbtn:hover + .dropdown-content-stathist,
.dropdown-content-stathist:hover {
    display: block;
}

.stathist-dropbtn:hover {
    background-color: #3e8e41;
}

.redirect-btn {
    background-color: #04aa6d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.redirect-btn:hover {
    background-color: #3d8140;
    color: #ffffff;
}

// history request list //

.rh-list {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: $white;
    transition: 0.5s;
    height: 100%;
}

.rh-list h1,
.rh-list h4 {
    margin: 0;
}

.rh-list p {
    margin: 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    /* Tablets and smaller devices */
    .rh-list {
        text-align: left; /* Align text to the left on smaller screens */
        width: 90%;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .rh-list .col-3 {
        flex-basis: 100%; /* Make each column take full width */
        margin-bottom: 10px; /* Add some spacing between rows */
    }

    .rh-list .col-3:last-child {
        margin-bottom: 0; /* Remove margin for the last column */
    }

    .rh-list h1,
    .rh-list h4 {
        font-size: 1.3em; /* Adjust font size for smaller screens */
    }

    .redirect-btn {
        width: 50%; /* Make the button full width */
        text-align: center; /* Center the text */
        margin-top: 10px; /* Add some space above the button */
    }
}

@media (max-width: 480px) {
    /* Mobile devices */
    .rh-list {
        width: 90%;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .rh-list h1,
    .rh-list h4 {
        font-size: 1.2em; /* Further adjust font size for mobile */
    }

    .redirect-btn {
        font-size: 1em; /* Adjust button text size */
        width: 80%;
    }
}

//eye icon
.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.homebtn {
    vertical-align: middle;
}

.homebtn a {
    width: auto;
    height: 50px;
    font-size: 20px;
    align-content: center;
}

.textCenter {
    text-align: center;
}

.flex-wrapper {
    background-color: #cbd6e9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

//meeting room
.meetingroompic{
    padding: 20px;
}
.meetingroompic img{
    width: 100%;
    height: 300px;
}

@media (max-width: 480px){
    .jarak-pb-3{
        padding-bottom: 1rem !important;
    }

    .jarak-pt-3{
        padding-top: 1rem !important;
    }
}

.info-icon {
    position: relative;
    margin-left: 5px;
    margin-top: 26px;
    cursor: pointer;
    color: #555;
}

.tooltip-custom {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #555;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    width: max-content;
}

.info-icon:hover .tooltip-custom  {
    visibility: visible;
    opacity: 1;
}

.tooltip-custom-2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -4%;
    transform: translateY(-50%);
    padding: 0.5rem;
    background-color: #555;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .tooltip-custom-2 {
        top: 50%;
        transform: translateX(-50%);
        margin-top: 0.5rem;
    }
 
    .tooltip-custom {
        top: 60%;
        left: -100px;
        transform: translateX(-50%);
        margin-top: 0.5rem;
    }

}
.info-icon:hover .tooltip-custom-2  {
    visibility: visible;
    opacity: 1;
}

.vehiclepic{
    padding: 20px;
}
.vehiclepic img{
    width: 100%;
    height: 200px;
}
///////////////////////////////////////////////////////////////////////////
